.main-section {
    padding: 2%;
    margin: 0 auto;
}

.navbar-brand {
    font-family: 'Anton', sans-serif;
    letter-spacing: .1em;
}

#control-panel {
    /* height: 500px; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.btn {
    margin: 10%;
}

#canvas {
    border: 2px, solid, black;
    height: 500px;
    background-color: darkgray;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

footer {
    margin-top: 10px;
    
}

/* .art {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    background-color: #73AD21;
  } */