#control-panel {
    /* height: 500px; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.btn {
    margin: 10%;
}

#canvas {
    border: 2px, solid, black;
    height: 500px;
    background-color: aliceblue;
    box-sizing: border-box;
    position: relative;
}

.art {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    background-color: #73AD21;
  }